{% extends 'base.html.twig' %}

{% block title %}PetsCare | Accueil{% endblock %}

{% block body %}
    {% for message in app.flashes('success') %}
        <div class="alert alert-success float-left m-auto">
            {{ message }}
        </div>
    {% endfor %}
    {% for message in app.flashes('alert') %}
        <div class="alert alert-danger float-left m-auto">
            {{ message }}
        </div>
    {% endfor %}
    <div class="row w-100 m-auto justify-content-between">
        <div class="jumbotron w-50 ml-5 mt-5 bg-primary pc-paws">
            <h1 class="text-light pc-f-f">
                Bonjour {% if app.user %} {{ app.user.username }} {% else %} PetsCarer !{% endif %}
            </h1>
            <h5 class="font-italic">Avec PetsCare, facilitez vous la vie en facilitant celle de vos compagnons</h5>
            {% if not app.user %}
                <div class="row mt-4 mx-auto">
                    <a href="{{ path('login') }}" class="btn btn-sm btn-info border-light mx-2">Se connecter</a>
                    <a href="{{ path('registration') }}"
                       class="btn btn-sm btn-secondary border-light mx-2">S'inscrire</a>
                </div>
            {% endif %}
        </div>
        <div class="col mx-auto d-flex align-items-center justify-content-center">
            <img src="{{ asset('pictures/ressources/banner.png') }}" alt="banner" class="w-75">
        </div>
    </div>
    <div class="jumbotron m-auto p-5 bg-transparent">
        <div class="row w-75 m-auto justify-content-around text-center">
            <div class="col">
                <i class="fas fa-users pc-f-40 text-primary"></i>
                <h2 class="text-black-50 font-weight-bolder">100.000</h2>
                <h6>PetsCarer inscrits</h6>
            </div>
            <div class="col">
                <i class="fas fa-paw pc-f-40 text-primary"></i>
                <h2 class="text-black-50 font-weight-bolder">250.000</h2>
                <h6>Compagnons inscrits</h6>
            </div>
            <div class="col">
                <i class="fas fa-mail-bulk pc-f-40 text-primary"></i>
                <h2 class="text-black-50 font-weight-bolder">500.000</h2>
                <h6>Annonces postées</h6>
            </div>
            <div class="col">
                <i class="fas fa-heart pc-f-40 text-primary"></i>
                <h2 class="text-black-50 font-weight-bolder">200.000</h2>
                <h6>Compagnons adoptées</h6>
            </div>
            <div class="col">
                <i class="fas fa-search-location pc-f-40 text-primary"></i>
                <h2 class="text-black-50 font-weight-bolder">150.000</h2>
                <h6>Compagnons retrouvées</h6>
            </div>
        </div>
    </div>
{% endblock %}
