{{ form_start(form) }}
<div class="row">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-4">{{ form_row(form.name) }}</div>
            <div class="col-md-2">{{ form_row(form.age) }}</div>
            <div class="col-md-3">{{ form_row(form.gender) }}</div>
            <div class="col-md-3">{{ form_row(form.species) }}</div>
        </div>
        <div class="row">
            <div class="col">{{ form_row(form.description) }}</div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="row flex justify-content-start flex-wrap">
                    {% for picture in pet.pictures %}
                        <div class="col" style="width: 200px; flex: none; margin: 5px">
                            <img style="width: 100%;border-radius: 8px;"
                                 src="{{ vich_uploader_asset(picture, 'imageFile') | imagine_filter('thumb') }}"
                                 width="100"
                                 alt="{{ pet.name }}">
                            <a href="{{ path('pet_picture_delete', {id: picture.id}) }}"
                               style="width: 100%"
                               class="btn btn-danger"
                               data-delete
                               data-token="{{ csrf_token('delete' ~ picture.id) }}">Supprimer</a>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">{{ form_row(form.pictureFiles) }}</div>
            <div class="col">{{ form_row(form.tags) }}</div>
        </div>
        {{ form_row(form.owned) }}
    </div>
</div>
<button class="btn btn-success">{{ button_label|default('Enregistrer') }}</button>
{{ form_end(form) }}
