{{ form_start(form) }}
<div class="row mx-auto w-75 justify-content-center">
    <div class="col-md-3">{{ form_row(form.name) }}</div>
    <div class="col-md-3">{{ form_row(form.gender) }}</div>
    <div class="col-md-3">{{ form_row(form.species) }}</div>
</div>
<div class="row mx-auto w-75 justify-content-center">
    <div class="col-md-2">{{ form_row(form.age) }}</div>
    <div class="col-md-7">{{ form_row(form.tags) }}</div>
</div>
<div class="row flex justify-content-center flex-wrap">
    {% for picture in pet.pictures %}
        {% if pet.pictures is not empty and vich_uploader_asset(picture, 'imageFile') is not null %}
            <div class="col" style="width: 200px; flex: none; margin: 5px">
                <img class="w-100 rounded"
                     src="{{ vich_uploader_asset(picture, 'imageFile') | imagine_filter('thumb') }}"
                     alt="{{ pet.name }}">
                <a href="{{ path('picture_delete', {id: picture.id}) }}"
                   class="w-100 btn btn-outline-danger"
                   data-delete
                   data-token="{{ csrf_token('delete' ~ picture.id) }}">Supprimer</a>
            </div>
        {% endif %}
    {% endfor %}
</div>
<div class="row mx-auto w-75 justify-content-center">
    <div class="col-md-9">{{ form_row(form.pictureFiles) }}</div>
</div>
<div class="row mx-auto w-75 justify-content-center">
    <div class="col-md-9">{{ form_row(form.description) }}</div>
</div>
{{ form_row(form.owned) }}
<button class="btn btn-success d-inline">{{ button_label|default('Enregistrer') }}</button>
{{ form_end(form) }}
