{% extends 'base.html.twig' %}

{% block title %}PetsCare | {{ pet.name }}{% endblock %}

{% block body %}
    <div class="jumbotron">
        <div class="row">
            <div class="col-md-6">
                {% for picture in pet.pictures %}
                    <div class="col" style="width: auto; flex: none; margin: 5px">
                        <img src="{{ vich_uploader_asset(picture, 'imageFile') | imagine_filter('medium') }}"
                             alt="{{ pet.name }}">
                        {# <a href="{{ path('admin.picture.delete', {id: picture.id}) }}" #}
                        {# style="width: 100%" #}
                        {# class="btn btn-danger" #}
                        {# data-delete #}
                        {# data-token="{{ csrf_token('delete' ~ picture.id) }}">Supprimer</a> #}
                    </div>
                {% endfor %}
            </div>
            <div class="col-md-6" style="text-align: right">
                <h1>{{ pet.name }}</h1>
                <h2><img src="{{ asset(pet.speciesIcon) }}" alt="{{ pet.speciesString }}" class="pcIcon"> - {{ pet.speciesString }} // {{ pet.genderString }} - {{ pet.age }} {{ pet.age > 1 ? 'ans' : 'an' }}</h2>
                <p>{{ pet.description }}</p>
                {% if pet.owner %}
                    <p>Elle vie avec {{ pet.owner.username }}</p>
                {% endif %}
                <p>Elle est inscrite depuis le {{ pet.createdAt | date('d/m/Y') }}</p>
                <a href="{{ path('pet_edit', {'id': pet.id}) }}" class="btn btn-success">Modifier les informations</a>
                {{ include('pet/_delete_form.html.twig') }}
            </div>
        </div>
    </div>
{% endblock %}
