<div class="card">
        <img src="{{ asset(subject.getCategoryImage) | imagine_filter('thumb') }}" class="card-img-top"
             alt="...">
    <div class="card-body">
        <h5 class="card-title m-auto">
            <img src="{{ asset(subject.getCategoryIcon) }}" alt="Icon" class="pcIconMin">
            - <a href="{{ path('post_show' , {id: subject.id}) }}">{{ subject.title }}</a>
        </h5>
        <p class="card-text">{{ subject.content }}</p>
    </div>
    <div class="card-footer">
        <small class="text-muted">Émis par {{ subject.author }} le {{ subject.createdAt | date('d/m/Y') }}</small>
    </div>
</div>