{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
    {% for flashError in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}

    <div class="container mt-4 text-center">
        <h1 class="my-4 pc-f-f">Inscription</h1>
        {{ form_start(registrationForm) }}
        <div class="row justify-content-center">
            <div class="col-md-3">{{ form_row(registrationForm.firstname) }}</div>
            <div class="col-md-3">{{ form_row(registrationForm.lastname) }}</div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-3">{{ form_row(registrationForm.username) }}</div>
            <div class="col-md-3">{{ form_row(registrationForm.birthdate) }}</div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-3">{{ form_row(registrationForm.email) }}</div>
            <div class="col-md-3">{{ form_row(registrationForm.phone) }}</div>
        </div>
        <div class="row justify-content-center">
            {% for passwordField in registrationForm.plainPassword %}
                <div class="col-md-3">{{ form_row(passwordField) }}</div>
            {% endfor %}
        </div>
        <div class="row justify-content-center">
            <div class="col">
                {{ form_row(registrationForm.isPetsitter) }}
                {{ form_row(registrationForm.agreeTerms) }}
            </div>
        </div>
        <button type="submit" class="btn btn-success">M'inscrire</button>
        {{ form_end(registrationForm) }}

    </div>
{% endblock %}