{% extends 'base.html.twig' %}

{% block title %}PetsCare | Meeting{% endblock %}

{% block body %}
<div class="jumbotron bg-transparent">
    <div class="rounded bg-primary p-4 m-auto" style="max-width: 75%">
        {{ form_start(form) }}
        <div class="row m-auto">
            <div class="col">{{ form_row(form.username) }}</div>
            <div class="col">{{ form_row(form.email) }}</div>
            <div class="col">{{ form_row(form.phone) }}</div>
        </div>
        <div class="row m-auto">
            <div class="col">{{ form_row(form.message) }}</div>
        </div>
        <div class="row justify-content-center">
            <button type="submit" class="btn btn-secondary">Envoyer</button>
        </div>
        {{ form_end(form) }}
    </div>
</div>
{% endblock %}

{% block javascripts %}
    <script>
        $(document).ready(() => {
            $("#contact_user_username").val('{{ founder.username }}');
            $("#contact_user_email").val('{{ founder.email }}');
            $("#contact_user_phone").val('{{ founder.phone }}');
        });
    </script>
{% endblock %}
