{{ form_start(form) }}
<div class="row">
    <div class="col">{{ form_row(form.location) }}</div>
    <div class="col">{{ form_row(form.species) }}</div>
</div>
<div class="row">
    <div class="col">{{ form_row(form.content) }}</div>
    <div class="col">{{ form_row(form.tags) }}</div>
</div>
<button class="btn btn-success">{{ button_label|default('Publier') }}</button>
{{ form_end(form) }}