{% extends 'base.html.twig' %}

{% block title %}PetsCare | {{ post.title }}{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ asset('build/css/slick.css') }}"/>
    <link rel="stylesheet" type="text/css" href="{{ asset('build/css/slick-theme.css') }}"/>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
          integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
          crossorigin=""/>
{% endblock %}

{% block body %}
    {{ include('post/post_templates/back_button.html.twig') }}
    <div class="container bg-light p-4">
        {{ include('post/post_templates/banner.html.twig') }}
        <div class="row m-4">
            <div class="row w-100 my-4">
                <div class="col-md-6 d-flex flex-column justify-content-between">
                    <div>
                        <h5 class="pc-f-f">{{ post.title }}</h5>
                        <p>{{ post.content }}</p>
                    </div>
                    <small>Annonce publiée le {{ post.createdAt | date('d/m/Y') }}</small>
                </div>
                <div class="col-md-6 pc-pet-carousel mx-auto my-4">
                    {% for picture in post.pictures %}
                        <img src="{{ vich_uploader_asset(picture, 'imageFile') | imagine_filter('medium') }}"
                             alt="{{ post.title }}" class="rounded">
                    {% endfor %}
                </div>
            </div>
            <div class="row w-100 my-4">
                <div class="col">
                    <h5 class="pc-f-f">Signes particulier</h5>
                    <ul class="list-group list-group-horizontal">
                        {% for tag in post.tags %}
                            <li class="list-group-item">{{ tag.name }}</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <div class="row w-100 my-4">
                <div class="col">
                    <h5 class="pc-f-f">{{ post.town }}</h5>
                    <div id="pc-map" class="rounded"></div>
                </div>
            </div>
        </div>
        {{ include('post/post_templates/buttons.html.twig')  }}
    </div>
{% endblock %}
{% block javascripts %}
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
            integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
            crossorigin=""></script>
    {# MAP #}
    <script>
        var myMap = L.map('pc-map').setView([{{ post.lat }}, {{ post.lng }}], 14);
        L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token=pk.eyJ1Ijoic2Vpa3lvbyIsImEiOiJja3E4MnBoa28wMTY3MnVsdzRibGNkNHppIn0.pexmvN7haXYzdPYwOIe0sA', {
            attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
            maxZoom: 18,
            id: 'mapbox/streets-v11',
            tileSize: 512,
            zoomOffset: -1,
            accessToken: 'pk.eyJ1Ijoic2Vpa3lvbyIsImEiOiJja3E4MnBoa28wMTY3MnVsdzRibGNkNHppIn0.pexmvN7haXYzdPYwOIe0sA'
        }).addTo(myMap);

        var circle = L.circle([{{ post.lat }}, {{ post.lng }}], {
            color: 'green',
            fillColor: '#78c2ad',
            fillOpacity: 0.7,
            radius: 500
        }).addTo(myMap);

        circle.bindPopup('<img src="{{ asset(post.getCategoryIcon) }}" alt="Icon" class="pc-icon-min ml-2">').openPopup();
    </script>
    {# CAROUSEL #}
    <script type="text/javascript" src="{{ asset('build/js/slick.js') }}"></script>
    <script>
        $(document).ready(function () {
            $('.pc-pet-carousel').slick({
                accessibility: false,
                autoplay: true,
                autoplaySpeed: 3000,
                dots: true,
                cssEase: 'ease',
                fade: true
            });
        });
    </script>
{% endblock %}