{% extends 'base.html.twig' %}

{% block title %}PetsCare | {{ post.title }}{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ asset('build/css/slick.css') }}"/>
    <link rel="stylesheet" type="text/css" href="{{ asset('build/css/slick-theme.css') }}"/>
{% endblock %}

{% block body %}
    <a href="{{ app.request.headers.get('referer') }}" class="btn btn-primary float-left mt-4 ml-4">
        <i class="fas fa-arrow-circle-left"></i>
    </a>
    <div class="container bg-light p-4">
        <div class="row h-100">
            <div class="col-md-3 d-flex align-items-center justify-content-around">
                <img src="{{ asset('pictures/ressources/icons/profile.svg') }}" alt="Avatar" class="pc-icon-lg">
                <h2><a href="#" class="pc-f-f">{{ post.author.username }}</a></h2>
            </div>
            <div class="col-md-9 d-flex align-items-center justify-content-around"
                 style="background-image: url('{{ asset(post.getCategoryImage) }}'); background-size: 750px;background-position: center; opacity: 0.80">
            </div>
        </div>
        <div class="row m-4">
            <div class="row w-100 my-4">
                <div class="col-md-6 d-flex flex-column justify-content-between">
                    <div>
                        {% for pet in post.author.pets %}
                            {% if pet.id is same as post.missingPet %}
                                <h5 class="pc-f-f">{{ post.title }} de {{ pet.name }}</h5>
                            {% endif %}
                        {% endfor %}
                        <p>{{ post.content }}</p>
                    </div>
                    <small>Annonce publiée le {{ post.createdAt | date('d/m/Y') }}</small>
                </div>
                <div class="col-md-6 pc-pet-carousel mx-auto my-4">
                    {% for picture in post.pictures %}
                        <img src="{{ vich_uploader_asset(picture, 'imageFile') | imagine_filter('medium') }}"
                             alt="{{ post.title }}" class="rounded">
                    {% endfor %}
                </div>
            </div>
            <div class="row w-100 my-4">
                <div class="col">
                    <h5 class="pc-f-f">Vu pour la dernière fois</h5>
                    <p>A : {{ post.location }}, le : {{ post.lastSeen | date('d/m/Y') }}</p>
                </div>
            </div>
        </div>
        <div class="row px-4 justify-content-between">
            <div>
                {% if app.user.id is same as post.author.id %}

                    <a href="{{ path('post_edit', {'id': post.id}) }}" class="btn btn-info"><i
                                class="far fa-edit"></i></a>

                    {{ include('post/_delete_form.html.twig') }}

                {% endif %}
            </div>
            <div>
                <a href="#" class="btn btn-warning"><i class="fas fa-comments"></i></a>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    <script type="text/javascript" src="{{ asset('build/js/slick.js') }}"></script>
    <script>
        $(document).ready(function () {
            $('.pc-pet-carousel').slick({
                accessibility: false,
                autoplay: true,
                autoplaySpeed: 3000,
                dots: true,
                cssEase: 'ease',
                fade: true
            });
        });
    </script>
{% endblock %}