{% extends 'base.html.twig' %}

{% block title %}PetsCare | Mes annonces{% endblock %}

{% block body %}
    {% for message in app.flashes('success') %}
        <div class="alert alert-success float-left m-auto">
            {{ message }}
        </div>
    {% endfor %}
    <div class="jumbotron mx-auto w-75 bg-primary pc-paws">
        {{ form_start(form) }}
        <div class="form-row align-items-end justify-content-center">
            <div class="col-md-3">
                {{ form_row(form.category) }}
            </div>
            <div class="col-md-3">
                {{ form_row(form.created_at) }}
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-secondary border-light">Rechercher</button>
            </div>
        </div>
        {{ form_end(form) }}
    </div>
    <div class="container">
        <small class="m-3">{{ posts.count }} résultat{{ posts.count > 1 ? 's' : '' }}</small>
        <div class="row m-auto">
            {% for subject in posts %}
                <div class="col-md-4 mb-4">
                    {% include 'informations/_card.html.twig' %}
                </div>
            {% endfor %}
        </div>

        {{ knp_pagination_render(posts) }}
    </div>
{% endblock %}