{% extends 'base.html.twig' %}

{% block title %}PetsCare | Profil d'utilisateur{% endblock %}

{% block body %}

    <div class="jumbotron">
        <h1>Bonjour {{ app.user.firstname }}</h1>
    </div>

    <div class="row m-auto d-flex justify-content-between" style="height:300px;">
        {# SIDE MENU #}
        <div class="col-md-3 bg-primary rounded-right d-flex flex-column align-items-center justify-content-around" id="user-profile-side-menu">
                <a href="#" class="btn btn-primary d-block" id="userInformation">
                    <img src="{{ asset('pictures/ressources/icons/profile.svg') }}" alt="profile" class="pcIconMin d-block m-auto">  Mon profil
                </a>
                <a href="#" class="btn btn-primary d-block" id="userPets">
                    <img src="{{ asset('pictures/ressources/icons/my-pets.svg') }}" alt="profile" class="pcIconMin d-block m-auto">  Mes animaux
                </a>
                <a href="#" class="btn btn-primary d-block" id="userStats">
                    <img src="{{ asset('pictures/ressources/icons/stats.svg') }}" alt="profile" class="pcIconMin d-block m-auto">  Mes statistiques
                </a>
        </div>

        {# INFORMATIONS #}
        <div class="col-md-8 bg-primary rounded-left">
            {# TABLE USER INFORMATIONS #}
            <table class="table text-light" id="pc-table-user-info-content">
                <tr>
                    <td colspan="2">
                        <div class="d-flex flex-row-reverse">
                            <form method="post" action="{{ path('user_delete', {'id': app.user.id}) }}" onsubmit="return confirm('Êtes vous vraiment sûr de vouloir supprimer votre profil ({{ app.user.username }}) ?');" style="display:inline;">
                                <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ app.user.id) }}">
                                <button class="btn btn-danger m-1" style="display: inline;">Supprimer profil ({{ app.user.username }})</button>
                            </form>
                            <a href="{{ path('user_edit', {id: app.user.id}) }}" class="btn btn-info m-1">Modifier mes
                                informations</a>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>Nom d'utilisateur</td>
                    <td>{{ app.user.username }}</td>
                </tr>
                <tr>
                    <td>Prénom</td>
                    <td>{{ app.user.firstname }}</td>
                </tr>
                <tr>
                    <td>Nom de famille</td>
                    <td>{{ app.user.lastname }}</td>
                </tr>
                <tr>
                    <td>Adresse e-mail</td>
                    <td>{{ app.user.email }}</td>
                </tr>
            </table>
            {# END TABLE USER INFORMATIONS #}

            {# TABLE USER PETS #}
            <table class="table text-light" id="pc-table-user-pet-content"
                   style="display:none;">
                <tr>
                    <td colspan="3">
                        <div class="d-flex flex-row-reverse">
                            <a href="{{ path('pet_new') }}" class="btn btn-info m-1">Ajouter un
                                animal</a>
                        </div>
                    </td>
                </tr>
                {% for pet in app.user.pets %}
                    <tr>
                        <td>
                            <img src="{{ asset(pet.speciesIcon) }}" alt="{{ pet.speciesString }}" class="pcIconMin">
                        </td>
                        <td>
                            {{ pet.genderIcon | raw }}
                            <a href="{{ path('pet_show', {'id': pet.id}) }}" class="text-light">{{ pet.name }}</a>
                        </td>
                        <td class="text-right">
                            Inscrit{{ pet.gender is same as 0 ? 'e' : ''}}
                            le {{ pet.createdat | date('d/m/Y') }}
                        </td>
                    </tr>
                {% endfor %}
            </table>
            {# END TABLE USER PETS #}

            {# TABLE USER STATS #}
            <table class="table text-light" id="pc-table-user-stat-content"
                   style="display:none;">
                <tr>
                    <td>Animaux inscrit</td>
                    <td>{{ app.user.pets.count }} inscrit(s)</td>
                </tr>
                <tr>
                    <td>Annonces postés</td>
                    <td>{{ app.user.posts.count }} annonce(s)</td>
                </tr>
            </table>
            {# ENDTABLE USER PETS #}
        </div>

    </div>
{% endblock %}
{% block javascripts %}
    <script>
        $('#userInformation').click(() => {
            $('#pc-table-user-info-content').show();
            $('#pc-table-user-pet-content').hide();
            $('#pc-table-user-stat-content').hide();
        })
        $('#userPets').click(() => {
            $('#pc-table-user-info-content').hide();
            $('#pc-table-user-pet-content').show();
            $('#pc-table-user-stat-content').hide();
        })
        $('#userStats').click(() => {
            $('#pc-table-user-info-content').hide();
            $('#pc-table-user-pet-content').hide();
            $('#pc-table-user-stat-content').show();
        })
    </script>
{% endblock %}